name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582

    - name: Build with Gradle Wrapper
      run: ./gradlew build

    - name: Upload JAR artifact
      uses: actions/upload-artifact@v4
      with:
        name: damage-indicators-jar
        path: build/libs/*.jar
        retention-days: 1
  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Download JAR artifact
      uses: actions/download-artifact@v4
      with:
        name: damage-indicators-jar
        path: release-artifacts

    - name: Create release
      uses: ncipollo/release-action@v1
      with:
        tag: "nightly"
        name: "nightly - ${{ github.sha }}"
        body: "autogenerated release for commit `${{ github.sha }}` on branch `${{ github.ref_name }}`."
        prerelease: true
        artifacts: "release-artifacts/*.jar"
        allowUpdates: true